body {
  width: 100%;
  height: 100%;
  margin: 0;
  text-align: center;
}
h3{
  text-align: center;
  background-color: red;
}
div{
  background-color: red;
}
#details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: red;
  
}
nav{
  padding-left: 10px;
  padding-right: 10px;

}
a{
  flex-wrap: wrap;
}
fig{
  font-size: medium;
}
.featured-property{
  width: 800px;
  text-align: center;
}
#details{
  float: left;
}

button {
  color: azure;
  display: flexbox
}